div{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}
body{
    background-image: linear-gradient(rgb(234, 0, 255), rgb(0, 195, 255));
    font-family: Arial, sans-serif;
}
section{
    padding: 8px;
}
footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: end;
    font-weight: bold;
}